<h2 class="news_header">Years of Bachelor Degree</h2>

<ul1><li><%= link_to "1st year", courses_path(year: '1') %></li></ul1>
<ul1><li><%= link_to "2nd year", courses_path(year: '2') %></li></ul1>
<ul1><li><%= link_to "3rd year", courses_path(year: '3') %></li></ul1>

<h2 class="news_header">Years of Master Degree</h2>

<ul1><li><%= link_to "1st year", courses_path(year: '4') %></li></ul1>
<ul1><li><%= link_to "2nd year", courses_path(year: '5') %></li></ul1>

<h2 class="news_header">Available options</h2>

<ul1><li><%= link_to "See all available courses", courses_path %></li></ul1>
<ul1><li><%= link_to 'Create a new course', new_course_path %></li></ul1>
